p.big {
    font-size: 70px;
    font-family: sans-serif;
}
input {
    position: relative;
    left: 606px;
    bottom: 390px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


div {
    flex-basis: 100%
 }
@media (min-width: 600px {
    
}
body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: 0px;
    background-position-y:120px;
    background-repeat: no-repeat
    
}

textarea {
    resize: none;
    position: relative;
    bottom: -300px;
    left: 600px;
    
    
}
img {
    position: relative;
}
p {
    position: relative;
    top: -50px;
    left: 700px;
}
