p.big {
    font-size: 70px;
    font-family: sans-serif;
}
input {
    position: absolute;
    left: 606px;
    bottom: 390px;
}
body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: 0px;
    background-position-y:120px;
    background-repeat: no-repeat;
    
}

textarea {
    resize: none;
    position: relative;
    bottom: -300px;
    left: 600px;
    
    
}
img {
    position: absolute;
}
p {
    position: absolute;
    top: -50px;
    left: 700px;
}
